body {
    object-fit: cover;

}

.fade-out {
    opacity: 1;
    transition: opacity 0.2s;
}

.fade-out.fade-out-hidden {
    opacity: 0;
}

.navbar {
    transition: background-color 0.3s ease;
}

.hero,
.dimensions {
    height: 100vh;
}

.features {
    height: 100vh;
}

.navbar-element a {
    color: #F35165;
    padding-left: 20px;
    font-size: 18px;
}

.navbar-element a:hover {
    color: #FCCF47;
    text-shadow: 0 0 5px #FCCF47,
        0 0 25px #FCCF47,
        0 0 50px #FCCF47,
        0 0 100px #F35165;
}

.navbar-button {
    padding: 10px;
}

.login {
    cursor: pointer;
    font-weight: 700;
    font-family: Helvetica, "sans-serif";
    transition: all .2s;
    padding: 10px 20px;
    border-radius: 100px;
    background: #F35165;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    font-size: 15px;
    color: white;
}

.login:hover {
    background: #FCCF47;
    color: #F35165;
    box-shadow: 0 0 2px #FCCF47,
        0 0 25px #FCCF47,
        0 0 50px #FCCF47,
        0 0 100px #FCCF47;
}

.login>svg {
    width: 34px;
    margin-left: 10px;
    transition: transform .3s ease-in-out;
}

.login:hover svg {
    transform: translateX(5px);
}

.login:active {
    transform: scale(0.95);
}

@keyframes switchText {

    0%,
    33% {
        color: #24AFC1;
        /* First color for "Create" */
    }

    33.33%,
    66% {
        color: #FCCF47;
        /* Second color for "Animate" */
    }

    66.66%,
    100% {
        color: #FF6F61;
        /* Third color for "Publish" */
    }
}

#animated-text {
    animation: switchText 3s infinite;
}

/* .headline {
    margin-top: 200px;
} */

.image-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    overflow: visible;
    margin-left: 180px;
    margin-top: 200px;
}

.ellipse-image1 {
    position: absolute;
    width: 150px;
    /* Adjust the size as needed */
    height: 150px;
    /* Adjust the size as needed */
    opacity: 0.6;
    animation: ellipseMotionLeft 15s linear infinite;
    transition: opacity 0.3s ease-in-out;
}

.ellipse-image2 {
    position: absolute;
    width: 150px;
    height: 150px;
    opacity: 0.6;
    animation: ellipseMotionRight 15s linear infinite;
    transition: opacity 0.3s ease-in-out;
}

.ellipse-image1:hover,
.ellipse-image2:hover {
    opacity: 0;
}

@keyframes ellipseMotionLeft {
    0% {
        transform: translateX(0) translateY(0);
    }

    50% {
        transform: translateX(-200px) translateY(200px);
    }

    100% {
        transform: translateX(0) translateY(0);
    }
}

@keyframes ellipseMotionRight {
    0% {
        transform: translateX(0) translateY(0);
    }

    50% {
        transform: translateX(200px) translateY(-200px);
    }

    100% {
        transform: translateX(0) translateY(0);
    }
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.btn {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #24AFC1;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.cta {
    position: relative;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
    margin-right: 20px;
}

.cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #FCCF47;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
    color: #fff;

}

.cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #234567;
}

.cta span:hover {
    color: #fff;
}

.cta:hover:before {
    width: 100%;
    background: #F35165;
    color: #fff;
}

.cta:active {
    transform: scale(0.96);
}

.shadow__btn {
    padding: 10px 20px;
    border: none;
    font-size: 17px;
    color: #fff;
    border-radius: 7px;
    font-weight: 400;
    transition: 0.5s;
    transition-property: box-shadow;
}

.shadow__btn {
    background: #F35165;
    box-shadow: 0 0 5px #F35165;
}

.shadow__btn:hover {
    box-shadow: 0 0 5px #FCCF47,
        0 0 25px #FCCF47,
        0 0 50px #FCCF47,
        0 0 100px #FCCF47;
}

.shadow__btn:active {
    transform: scale(0.96);
}

.centered-image-container {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.your-image {
    height: 300px;
    width: auto;

}

.animated-gif-container {
    display: flex;
    justify-content: flex-end;
}

/* .bird-gif {

} */


/* style cards features */

.card {
    position: relative;
    width: 300px;
    height: 200px;
    background-color: #f2f2f2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card img {
    width: 100px;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 5px #FCCF47,
        0 0 25px #FCCF47,
        0 0 50px #FCCF47,
        0 0 100px #FCCF47;
}

.card__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .card__content {
    transform: rotateX(0deg);
}

.card__title {
    margin: 0;
    font-size: 24px;
    color: #333;
    font-weight: 700;
}

.card:hover svg {
    scale: 0;
}

.card__description {
    margin: 10px 0 0;
    font-size: 14px;
    color: #777;
    line-height: 1.4;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 80px;
}

.head-card {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #FF6F61;
}

.card {
    flex: 1;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card__title {
    font-size: 18px;
    font-weight: bold;
    color: #FF6F61;
}

.card__description {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
}

.image-container-gravitate {
    position: relative;
    display: flex;
    margin-left: 40px;

}

.left-image,
.right-image {
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    width: 150px;
    /* Adjust the width as needed */
    height: auto;
    /* Adjust the height as needed */
    animation: astronaut-gravity 3s ease-in-out infinite;
}

.left-image {
    left: 0;
}

.right-image {
    right: 0;
}


@keyframes astronaut-gravity {
    0% {
        transform: translate(-50%, -50%);
    }

    50% {
        transform: translate(-50%, -40%);
    }

    100% {
        transform: translate(-50%, -50%);
    }
}

/* format section */
.formats {
    height: 100vh;
}

/* Styles for the left column */
.left-column {
    text-align: left;
}

.left-column h1 {
    color: #FF6F61;
    font-size: 4.5rem;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.left-column p {
    color: rgba(61, 71, 77, 0.5);
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.4rem;
}

/* Styles for the right column */
.right-column {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.card {
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 1.5rem;
}

/* dimensions section  */

.dimension_card {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    background-color: #fff;
    padding: 3rem;
    margin-top: 80px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dimension_card .card__image {
    width: 70px;
    max-width: 100%;
    height: auto;
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
}

.dimension_card .card__description {
    color: #3D474D;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    text-align: center;
}

.dimension_card .card__column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 2px solid #f8d7db;
}

.dimension_card .image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-span {
    color: #FF6F61;
}

.contact-card {
    background-color:
        #f8d7db;
}

.request-header {
    color: #F35165;
}

/* submit button contact  */
.submit-button {
    font-size: 20px;
    background: #F35165;
    color: white;
    display: flex;
    align-items: flex-end;
    border: none;
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.2s;
}

.submit-button:hover {
    box-shadow: 0 0 2px #FCCF47,
        0 0 25px #FCCF47,
        0 0 50px #FCCF47,
        0 0 100px #FCCF47;
}

.submit-button span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
}

.submit-button svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}

.submit-button:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
}

.submit-button:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.submit-button:hover span {
    transform: translateX(5em);
}

.submit-button:active {
    transform: scale(0.95);
}

@keyframes fly-1 {
    from {
        transform: translateY(0.1em);
    }

    to {
        transform: translateY(-0.1em);
    }
}


.footer {
    background-color: #f8d7db;
}

.footer a {
    color: #F35165;
    font-weight: 600;
}

.footer a:hover {
    color: #F35165;
    text-shadow: 0 0 10px #FCCF47,
        0 0 25px #FCCF47,
        0 0 50px #FCCF47,
        0 0 100px #FCCF47;
}

.social-media {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 25px;
    gap: 20px;
    box-shadow: 0px 0px 20px #FCCF47;
}

/* for all social containers*/
.socialContainer {
    width: 52px;
    height: 52px;
    background-color: #F35165;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
}

/* instagram*/
.containerOne:hover {
    background-color: #d62976;
    transition-duration: .3s;
}

/* twitter*/
.containerTwo:hover {
    background-color: #00acee;
    transition-duration: .3s;
}

/* linkdin*/
.containerThree:hover {
    background-color: #0072b1;
    transition-duration: .3s;
}

.socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
}

.socialSvg {
    width: 17px;
}

.socialSvg path {
    fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.loader-inner {
    width: 50px;
    height: 50px;
    border: 4px solid #F35165;
    border-top-color: transparent;
    border-radius: 50%;
    animation: loader-rotate 1s infinite linear;
}

@keyframes loader-rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Hide the loader when the content is loaded */
.loaded #loader {
    display: none;
}


.slide-in {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.5s ease, transform 1s ease;
}

.slide-in.active {
    opacity: 1;
    transform: translateY(0);
}


.type-effect {
    overflow: hidden;
    /* Hide overflowing characters */
    white-space: nowrap;
    /* Prevent line breaks */
    border-right: 0.15em solid #FF6F61;
    /* Vertical typing cursor */
    animation: typing 4s steps(40) forwards, blink-caret 0.5s 4s infinite;
    /* Animation properties */
}

@keyframes typing {
    from {
        width: 0;
        /* Start with zero width */
    }

    to {
        width: 100%;
        /* Expand to full width */
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
        /* Hide and show the cursor */
    }

    50% {
        border-color: #FF6F61;
        /* Show the cursor */
    }
}


.animate-section .left-column,
.animate-section .right-column {
    opacity: 0;
    transform: translateY(100px);
    animation: slide-in 1s ease forwards;
}

.animate-section .right-column .card {
    opacity: 0;
    transform: translateY(50px);
    animation: slide-in 1s ease forwards;
}

@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

html {
    scroll-behavior: smooth;
}